* {
    margin: 0px;
    padding: 0px; 
}
  
body{
    text-align: center;
    padding: 50px 60px 20px 60px;
    margin: 0%;
    justify-content: center;
    border: solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: wheat;
    background-color: black;
    line-height: 4;
  }


.menu{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px ;
    text-align: center;
}

.Bienvenido {
    background-color: wheat;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 10%;
}

#main{
    height: 200px;
    width: 200px;
    background: teal;
    display: inline;
 
}
#main1{
    height: 200px;
    width: 200px;
    background: rgb(126, 160, 160);
    display: inline;
 
}
#main2{
    height: 200px;
    width: 200px;
    background: rgb(82, 99, 82);
    display: inline;
}
.gfg {
    margin-left:20px;
    font-size:42px;
    font-weight:bold;
    color:#253f25;
}
.geeks {
    font-size:25px;
    margin-left:30px;
}
.main {
    margin:50px;
}

